<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Partition" value="FixedPartition"/>
  </appSettings>
  <connectionStrings>
    <add name="EventHub" connectionString="" providerName="Microsoft.EventHubs" />
  </connectionStrings>
</configuration>

<!--
RW5kcG9pbnQ9c2I6Ly9laG5hemV3ZG1saXRha2UwNjUuc2VydmljZWJ1cy53aW5k
b3dzLm5ldC87U2hhcmVkQWNjZXNzS2V5TmFtZT1TZW5kT25seTtTaGFyZWRBY2Nl
c3NLZXk9SDdBaWxrN1dGMThFK1l2ZmJLTnlBRlh2elF2UnU2azNVUExucHFGZjFM
bz07RW50aXR5UGF0aD10ZXN0LWh1Yi0yCg==
-->
